body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-weight: bolder;
    background-color: #cae7df;
}

a {
    color: #292930;
    text-decoration: none;
}

h1 {
    margin: 0;
    margin-bottom: -80px;
    padding: 25px 0 25px 0;

    border: 1.5px solid black;
}

p {
    margin: 0;
    padding: 0;

    margin: 3% 0 3% 0;
    padding-top: 1%;

    background-color: yellow;
    color: red;
    border-top: 1.5px solid gray;
}

input {
    margin-top: 5px;
}

.header {
    background-color: #cae;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    height: 100%;

    text-align: center;
    font-weight: bolder;
    /* border: 1.5px dashed black; */
}

.main-content {
    background-color: #f4abaa;
    border: 2px solid red;
    width: 50%;
    margin: auto;

    margin-top: 11%;
    padding: 3%;
}

#timeInHours {
    margin-left: 28px;
}
#timeInMinutes {
    margin-left: 11px;
}
#timeInSeconds {
    margin-left: 8px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    background-color: #cae7df;
    border: 1.5px solid rgb(253, 252, 252);
    padding: 11px;
}

.btn:hover {
    border: 1.5px solid black;
}

.count-down {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.time-content {
    background-color: yellow;
    width: 20%;
    height: 65px;
    text-align: center;

    border: 1.5px solid #fff;
}

.time-content:hover {
    border: 1.5px solid black;
}

.Hours {
    font-size: 175%;
    width: auto;
    margin: 2px auto;
    height: 35px;
}

.Minutes {
    font-size: 175%;
    width: auto;
    margin: 2px auto;
    height: 35px;
}

.Seconds {
    font-size: 175%;
    width: auto;
    margin: 2px auto;
    height: 35px;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    position: fixed;
    right: 20px;
    bottom: 10px;
}

.name:hover {
    text-decoration: underline;
    font-size: 2.05em;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-bottom: -40px;
    }
    input {
        margin: 0;
        margin-top: 10px;
    }
    p {
        font-size: 100%;
    }
    .header {
        margin-top: 85px;
    }
    .main-content {
        margin-top: 15%;
        height: 330px;
    }
    .name:hover {
        font-size: 31px;
    }
    #timeInHours {
        margin-left: 0;
    }
    #timeInMinutes {
        margin-left: 0;
    }
    #timeInSeconds {
        margin-left: 0;
    }
    .time-content {
        border: 1.5px solid #fff;
        background-color: yellow;
        width: 30%;
        text-align: center;
    }
    .Hours {
        font-size: 175%;
        width: auto;
        height: 35px;
    }
    
    .Minutes {
        font-size: 175%;
        width: auto;
        height: 35px;
    }
    
    .Seconds {
        font-size: 175%;
        width: auto;
        height: 35px;
    }
    .name {
        /* border: 2px solid red; */
        right: 20px;
        bottom: 510px;
        top: 10px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 70%;
        padding-top: 5%;
    }
    .main-content {
        padding-bottom: 4%;
    }
}